<section class="answers">
    <div class="container">
        <div class="answers-pre-title">
            Результат прохождения теста <img src="../images/gray-arrow.png" alt="стрелка">
            <span id="pre-title">Тест №1. “JavaScript: Начальный уровень”</span>
        </div>
        <h1 class="answers-title big-title">
            <span>Правильные ответы</span> к тесту
        </h1>
        <div class="answers-executor">
            Тест выполнил <span id="executor">Роман Чернов, roman@itlogia.ru</span>
        </div>
        <div class="answers-questions" id="answers-questions">
            <div class="answers-question">
                <div class="answers-question-title" id="title">
                    <span>Вопрос 2:</span> Тут должен быть текст вопроса?
                </div>
            </div>
        </div>

        <div class="my-answer link">
            <a href="#" onclick="window.history.back();">
                Обратно к моему результату теста
                <img src="../images/small-arrow.png" alt="Стрелка">
            </a>
        </div>
    </div>
</section>